html {
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", system-ui;
  font-weight: 400;
}

div {
  width: 50%;
  margin: 3% 25%;
}

img {
  border: 5px solid white;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
}
